<!-- views/template.ejs -->
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	<% $(document).ready(setInterval(updateData(),15000)); %>
	<% function updateData(){ %>
		<% var client = new HttpClient(); %>
		<% client.get('/tabledata', function(response) { %>
    		<% var data = JSON.parse(response); %>
    		<% $(#ins).each(function(i,d){ %>
    			<% $(this).text(data.ioArrays[0][i]); %>
    		<% }); %>
		<% }); %>
	<% } %>
</script>
<style type="text/css">
table,th,td {
	border:1px solid blue;
}
#ins {
  background-color:whitesmoke;
  color:yellow;
}
#outs {
  background-color:whitesmoke;
  color:lime;
}
#diff {
  background-color:whitesmoke;
  color:violet;
}
#ratio {
  background-color:whitesmoke;
  color:red;
}
#period {
  background-color:whitesmoke;
  color:navy;
}
</style>

</head>

<body onload="setInterval(updateData(),15000)">
<h3>Ledger IO Data</h3>
<table>
	<tr>
		<th>Index</th>
		<th>IN</th>
		<th>Out</th>
		<th>Out-In</th>
		<th>Out/In</th>
		<th>Period</th>
	</tr>
	<tr>
		<td>1W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>2W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>4W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>8W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>ArrayIndex:</td>
		<td colspan="5" id='index'></td>
	</tr>
</table>

</body>
</html>