<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$('document').ready(setInterval(updateData(),15000));
	function updateData(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
    		if (this.readyState == 4 && this.status == 200) {
    			var data = JSON.parse(xhttp.responseText);
    			console.log(data);
    		$('#ins').each(function(i,obj){
    			console.log('i: '+i+' obj: '+obj);
    			alert('i:'+i+' '+$(this).text());
    			$(this).next();
    		});

   			}
		};
		xhttp.open("GET", "/tabledata", true);
		xhttp.send();

	}
</script>
<style type="text/css">
table,th,td {
	border:1px solid blue;
}
#ins {
  background-color:whitesmoke;
  color:orange;
  width: 15%;
}
#outs {
  background-color:whitesmoke;
  color:lime;
  width: 15%;
}
#diff {
  background-color:whitesmoke;
  color:violet;
  width: 15%;
}
#ratio {
  background-color:whitesmoke;
  color:red;
  width: 15%;
}
#period {
  background-color:whitesmoke;
  color:navy;
  width: 15%;
}
</style>

</head>

<body>
<h3>Ledger IO Data</h3>
<table>
	<tr>
		<th>Index</th>
		<th>IN</th>
		<th>Out</th>
		<th>Out-In</th>
		<th>Out/In</th>
		<th>Period</th>
	</tr>
	<tr>
		<td>1W</td>
		<td id='ins'>1</td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>2W</td>
		<td id='ins'>2</td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>4W</td>
		<td id='ins'>3</td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>8W</td>
		<td id='ins'>4</td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td colspan="2">ArrayIndex:</td>
		<td colspan="4" id='index'></td>
	</tr>
</table>

</body>
</html>