<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$('document').ready(function {
		rnd = 0;
		setInterval(updateData,15000);
	});
	var rnd;
	function updateData(){
		updateTableData();
		updateIndex();
		rnd++;
		if (rnd%4==0) updateChart();
		if (rnd>=Number.MAX_VALUE) rnd = 0;
	};
	function updateTableData(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
    		if (this.readyState == 4 && this.status == 200) {
    			var data = JSON.parse(xhttp.responseText);
    			if (data[0][0]){
    				$('td#ins').each(function(i,obj){
    					$(this).text(data[0][i]);
    				});
     				$('td#outs').each(function(i,obj){
    					$(this).text(data[1][i]);
    				});
      				$('td#diff').each(function(i,obj){
    					$(this).text(data[1][i]-data[0][i]);
    				});
       				$('td#ratio').each(function(i,obj){
    					$(this).text((data[1][i]/data[0][i]).toFixed(5));
    				});	
     				$('td#period').each(function(i,obj){
    					$(this).text((data[2][i]/60).toFixed(1));
    				});
    				$('document').attr("title","1W "+(data[1][0]/data[0][0]).toFixed(3)+" in "+(data[2][0]/60).toFixed(1)+" min");
				};

    		};
		};
		xhttp.open("GET", "/tabledata", true);
		xhttp.send();
	}
	function updateIndex(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
    		if (this.readyState == 4 && this.status == 200) {
    			var data = JSON.parse(xhttp.responseText);
    			if (data) $('td#index').text(data);
    		};
		};
		xhttp.open("GET", "/arrayIdx", true);
		xhttp.send();
	}
	function updateChart(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
    		if (this.readyState == 4 && this.status == 200) {
    			var data = JSON.parse(xhttp.responseText);
    			if (data) {

    			}
    		};
		};
		xhttp.open("GET", "/chart", true);
		xhttp.send();
	}
</script>
<style type="text/css">
table,th,td {
	border:1px solid blue;
}
#ins {
  background-color:whitesmoke;
  color:orange;
  width: 15%;
}
#outs {
  background-color:whitesmoke;
  color:lime;
  width: 15%;
}
#diff {
  background-color:whitesmoke;
  color:violet;
  width: 15%;
}
#ratio {
  background-color:whitesmoke;
  color:red;
  width: 15%;
}
#period {
  background-color:whitesmoke;
  color:navy;
  width: 15%;
}
</style>

</head>

<body>
<h3>Ledger IO Data</h3>
<table>
	<tr>
		<th>Index</th>
		<th>IN</th>
		<th>Out</th>
		<th>Out-In</th>
		<th>Out/In</th>
		<th>Period</th>
	</tr>
	<tr>
		<td>1W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>2W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>4W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td>8W</td>
		<td id='ins'></td>
		<td id='outs'></td>
		<td id='diff'></td>
		<td id='ratio'></td>
		<td id='period'></td>
	</tr>
	<tr>
		<td colspan="2">ArrayIndex:</td>
		<td colspan="4" id='index'></td>
	</tr>
</table>

</body>
</html>